# Donnée Ameli

Télécharger les données de Amelie avec curl: Lancer la commande bash sh tel_donnee.sh

In [1]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [2]:
#import des fichiers
depenses = pd.read_csv('donnee/depenses.csv',sep=';')
effectifs = pd.read_csv('donnee/effectifs.csv',sep=';')

In [3]:
depenses.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,dep_niv_1,dep_niv_2,montant,Ntop,N_recourant_au_poste,montant_moy,Niveau prioritaire,tri,type_somme
0,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,"1,2,3",16.0,Partiel
1,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations en HAD secteur privé remboursées,31752008,1761940.0,8040.0,18.0,"1,2,3",16.0,Partiel
2,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations séjour MCO secteur public rem...,107979401,1761940.0,447710.0,61.0,"1,2,3",16.0,Partiel
3,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Indemnités journalières maladie et AT/MP rembo...,119648361,1761940.0,128800.0,68.0,"1,2,3",16.0,Partiel
4,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Prestations d'invalidité remboursées,276259335,1761940.0,71330.0,157.0,"1,2,3",16.0,Partiel

In [4]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   annee                 16800 non-null  int64
 1   patho_niv1            16800 non-null  object
 2   patho_niv2            14280 non-null  object
 3   patho_niv3            12180 non-null  object
 4   top                   16800 non-null  object
 5   dep_niv_1             16800 non-null  object
 6   dep_niv_2             16800 non-null  object
 7   montant               16800 non-null  int64
 8   Ntop                  16590 non-null  float64
 9   N_recourant_au_poste  16590 non-null  float64
 10  montant_moy           16590 non-null  float64
 11  Niveau prioritaire    16800 non-null  object
 12  tri                   16380 non-null  float64
 13  type_somme            16800 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.8+ MB

enlevons les colonnes : 
<ul>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>
</ul>

In [5]:
depenses.drop(columns=['tri','Niveau prioritaire'],inplace=True)

renommage des colonnes : 
<ul>
  <li>Ntop en nombre de patients traités pour la patho selectionnée</li>
  <li>N_recourant_au_poste en nombre de patient traités pour une autre patho mais necessitant des soins du postes</li>
</ul>

In [6]:
depenses.rename(columns={'Ntop':'nombre de patients traités pour la pathologie selectionnée','N_recourant_au_poste':'nombre de patient traités pour une autre pathologie mais necessitant des soins du poste'},inplace=True)

In [7]:
print("Dans le Dataset depenses, il y a",len(depenses['top'].unique()),"pathologies différentes")

Dans le Dataset depenses, il y a 80 pathologies différentes

In [8]:
#on va essayer de faire baisser la consomation memoire du dataset pour faire passer sur mon PC
depenses['annee'] = pd.to_numeric(depenses['annee'],downcast='unsigned')
depenses['montant'] = pd.to_numeric(depenses['montant'],downcast='unsigned')
depenses['nombre de patients traités pour la pathologie selectionnée'] = pd.to_numeric(depenses['nombre de patients traités pour la pathologie selectionnée'],downcast='unsigned')
depenses['type_somme'] = depenses['type_somme'].astype("category")
depenses['patho_niv1'] = depenses['patho_niv1'].astype("category")
depenses['patho_niv2'] = depenses['patho_niv2'].astype("category")
depenses['patho_niv3'] = depenses['patho_niv3'].astype("category")
depenses['top'] = depenses['top'].astype("category")
depenses['dep_niv_1'] = depenses['dep_niv_1'].astype("category")
depenses['dep_niv_2'] = depenses['dep_niv_2'].astype("category")

In [9]:
depenses.memory_usage(deep=True)

Index                                                                                         132
annee                                                                                       33600
patho_niv1                                                                                  20253
patho_niv2                                                                                  22368
patho_niv3                                                                                  24855
top                                                                                         24625
dep_niv_1                                                                                   17358
dep_niv_2                                                                                   22930
montant                                                                                    134400
nombre de patients traités pour la pathologie selectionnée                                 134400
nombre de patient traités pour une autre pathologie mais necessitant des soins du poste    134400
montant_moy                                                                                134400
type_somme                                                                                  17034
dtype: int64

In [10]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 12 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   annee                                                                                    16800 non-null  uint16
 1   patho_niv1                                                                               16800 non-null  category
 2   patho_niv2                                                                               14280 non-null  category
 3   patho_niv3                                                                               12180 non-null  category
 4   top                                                                                      16800 non-null  category
 5   dep_niv_1                                                                                16800 non-null  category
 6   dep_niv_2                                                                                16800 non-null  category
 7   montant                                                                                  16800 non-null  uint64
 8   nombre de patients traités pour la pathologie selectionnée                               16590 non-null  float64
 9   nombre de patient traités pour une autre pathologie mais necessitant des soins du poste  16590 non-null  float64
 10  montant_moy                                                                              16590 non-null  float64
 11  type_somme                                                                               16800 non-null  category
dtypes: category(7), float64(3), uint16(1), uint64(1)
memory usage: 681.7 KB

In [11]:
effectifs.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,Niveau prioritaire,libelle_classe_age,libelle_sexe,tri
0,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,75,87,1410.0,12790.0,10.985,1,de 65 à 69 ans,femmes,1.0
1,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,1,971,290.0,4210.0,6.912,"2,3",de 80 à 84 ans,hommes,51.0
2,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,11,1390.0,13280.0,10.447,1,de 65 à 69 ans,femmes,1.0
3,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,3,973,40.0,650.0,5.864,"2,3",de 80 à 84 ans,hommes,51.0
4,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,34,3970.0,36950.0,10.755,1,de 65 à 69 ans,femmes,1.0

In [12]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4057201 entries, 0 to 4057200
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   annee               float64
 1   patho_niv1          object
 2   patho_niv2          object
 3   patho_niv3          object
 4   top                 object
 5   cla_age_5           object
 6   sexe                float64
 7   region              int64
 8   dept                object
 9   Ntop                float64
 10  Npop                float64
 11  prev                float64
 12  Niveau prioritaire  object
 13  libelle_classe_age  object
 14  libelle_sexe        object
 15  tri                 float64
dtypes: float64(6), int64(1), object(9)
memory usage: 495.3+ MB

enlevons les colonnes : <ul>
  <li>top                : libelle technique de la pathologie : trop précis pour moi</li>
  <li>prev               : prévalence</li>
  <li>Npop               : population de référence</li>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>
  <li>patho_niv1         : description de la pathologie</li>
  <li>patho_niv2         : description de la pathologie</li>
  <li>patho_niv3         : description de la pathologie</li>
</ul>

In [13]:
effectifs.drop(columns=['prev','Npop','tri','Niveau prioritaire','patho_niv1','patho_niv2','patho_niv3','libelle_sexe','libelle_classe_age'],inplace=True)

In [14]:
effectifs[effectifs['Ntop'].isna()]

          annee              top cla_age_5  sexe  region dept  Ntop
196      2015.0      sup_Can_cat     70-74   2.0       6  976   NaN
198      2015.0      sup_Can_cat     70-74   2.0       6  999   NaN
251      2020.0  top_FHypoLi_med     85-89   1.0       6  976   NaN
253      2020.0  top_FHypoLi_med     85-89   1.0       6  999   NaN
337      2020.0  top_FHypoLi_med     85-89   2.0       6  976   NaN
...         ...              ...       ...   ...     ...  ...   ...
4057186  2021.0  top_HFoiPan_ind     00-04   9.0       2  999   NaN
4057193  2021.0  top_HFoiPan_ind     00-04   9.0      24   18   NaN
4057194  2021.0  top_HFoiPan_ind     00-04   9.0      24   41   NaN
4057196  2021.0  top_HFoiPan_ind     00-04   9.0      27   39   NaN
4057198  2021.0  top_HFoiPan_ind     00-04   9.0      27   89   NaN

[1091315 rows x 7 columns]

Sois il y a pas de patient, sois il y a pas assez de patient pour assurer une bonne anonymisation des données(<11). Je décide de templir les NaN de ntop par 0.

In [15]:
effectifs['Ntop'] = effectifs['Ntop'].fillna(0)

In [16]:
print("Dans le Dataset effectifs, il y a",len(effectifs['top'].unique()),"pathologies différentes")

Dans le Dataset effectifs, il y a 80 pathologies différentes

In [17]:
effectifs[effectifs['sexe'].isna()]

          annee  top cla_age_5  sexe  region dept  Ntop
3867153  2021.0  NaN       NaN   NaN       0   00   0.0

In [18]:
effectifs.drop(effectifs[effectifs['sexe'].isna()].index,inplace=True)

In [19]:
effectifs[effectifs['annee'].isna()]

         annee              top cla_age_5  sexe  region dept   Ntop
2176282    NaN  top_PHypnot_med     75-79   9.0      44   08  780.0

In [20]:
effectifs.drop(effectifs[effectifs['annee'].isna()].index,inplace=True)

In [21]:
#allegons le dataset
effectifs['annee'] = pd.to_numeric(effectifs['annee'],downcast='unsigned')
effectifs['region'] = pd.to_numeric(effectifs['region'],downcast='unsigned')
effectifs['sexe'] = pd.to_numeric(effectifs['sexe'],downcast='unsigned')
effectifs['Ntop'] = pd.to_numeric(effectifs['Ntop'],downcast='unsigned')
effectifs['top'] = effectifs['top'].astype("category")
effectifs['cla_age_5'] = effectifs['cla_age_5'].astype("category")
effectifs['dept'] = effectifs['dept'].astype("category")

In [22]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4057199 entries, 0 to 4057200
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   annee      uint16
 1   top        category
 2   cla_age_5  category
 3   sexe       uint8
 4   region     uint8
 5   dept       category
 6   Ntop       uint32
dtypes: category(3), uint16(1), uint32(1), uint8(2)
memory usage: 73.5 MB

In [23]:
effectifs = effectifs[['annee','top','sexe','cla_age_5','Ntop']].groupby(by=['annee','top','sexe','cla_age_5'],observed=True).sum().reset_index()

In [24]:
# mergons les 2 fichiers

In [25]:
file = pd.merge(depenses,effectifs,on=['annee','top'],how='inner')

In [26]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014300 entries, 0 to 1014299
Data columns (total 15 columns):
 #   Column                                                                                   Non-Null Count    Dtype
---  ------                                                                                   --------------    -----
 0   annee                                                                                    1014300 non-null  uint16
 1   patho_niv1                                                                               1014300 non-null  category
 2   patho_niv2                                                                               868770 non-null   category
 3   patho_niv3                                                                               745290 non-null   category
 4   top                                                                                      1014300 non-null  object
 5   dep_niv_1                                                                                1014300 non-null  category
 6   dep_niv_2                                                                                1014300 non-null  category
 7   montant                                                                                  1014300 non-null  uint64
 8   nombre de patients traités pour la pathologie selectionnée                               1014300 non-null  float64
 9   nombre de patient traités pour une autre pathologie mais necessitant des soins du poste  1014300 non-null  float64
 10  montant_moy                                                                              1014300 non-null  float64
 11  type_somme                                                                               1014300 non-null  category
 12  sexe                                                                                     1014300 non-null  uint8
 13  cla_age_5                                                                                1014300 non-null  category
 14  Ntop                                                                                     1014300 non-null  uint32
dtypes: category(7), float64(3), object(1), uint16(1), uint32(1), uint64(1), uint8(1)
memory usage: 52.2+ MB

In [30]:
file.to_csv('donnee_temp/depense_age.csv',index=False)

In [27]:
# faire un ratio avec l'age et le sexe pour savoir combien depense chaque proportion de la population.