# Donnée Ameli

Chiffre encore aberant budget secu : 640 milliard je trouve environ 1000 milliard de depense par an !!!!! il doit y avoir des doublons ou des totaux dans la base de donnée

Télécharger les données de Amelie avec curl: Lancer la commande bash sh tel_donnee.sh

In [1]:
# pip install -r requirements.txt

In [2]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [3]:
#import des fichiers
depenses = pd.read_csv('donnee/depenses.csv',sep=';',dtype={
    'annee':'uint16'
    ,"patho_niv1":"category"
    ,"patho_niv2":"category"
    ,"patho_niv2":"category"
    ,"top":"category"
    ,"dep_niv_1":"category"
    ,"dep_niv_2":"category"
    ,"montant":"int64"
    ,"N_recourant_au_poste":"float64"
    ,"Ntop":"float64"
    ,"montant_moy":"float64"
    ,"type_somme":"category"
    ,"Niveau prioritaire":"category"
    ,'tri':'float32'})

effectifs = pd.read_csv('donnee/effectifs.csv',sep=';',dtype={
    'top':"category"
    ,'cla_age_5':"category"
    ,'dept':"category"
})

 0   annee                                                                                    16800 non-null  uint16  
 1   patho_niv1                                                                               16800 non-null  category
 2   patho_niv2                                                                               14280 non-null  category
 3   patho_niv3                                                                               12180 non-null  category
 4   top                                                                                      16800 non-null  category
 5   dep_niv_1                                                                                16800 non-null  category
 6   dep_niv_2                                                                                16800 non-null  category
 7   montant                                                                                  16800 non-null  uint64  
 8   nombre de patients traités pour la pathologie selectionnée                               16590 non-null  float64 
 9   nombre de patient traités pour une autre pathologie mais necessitant des soins du poste  16590 non-null  float64 
 10  montant_moy                                                                              16590 non-null  float64 
 11  type_somme                                                                               16800 non-null  category

In [4]:
depenses.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,dep_niv_1,dep_niv_2,montant,Ntop,N_recourant_au_poste,montant_moy,Niveau prioritaire,tri,type_somme
0,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,"1,2,3",16.0,Partiel
1,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations en HAD secteur privé remboursées,31752008,1761940.0,8040.0,18.0,"1,2,3",16.0,Partiel
2,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations séjour MCO secteur public rem...,107979401,1761940.0,447710.0,61.0,"1,2,3",16.0,Partiel
3,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Indemnités journalières maladie et AT/MP rembo...,119648361,1761940.0,128800.0,68.0,"1,2,3",16.0,Partiel
4,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Prestations d'invalidité remboursées,276259335,1761940.0,71330.0,157.0,"1,2,3",16.0,Partiel

In [5]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   annee                 16800 non-null  uint16
 1   patho_niv1            16800 non-null  category
 2   patho_niv2            14280 non-null  category
 3   patho_niv3            12180 non-null  object
 4   top                   16800 non-null  category
 5   dep_niv_1             16800 non-null  category
 6   dep_niv_2             16800 non-null  category
 7   montant               16800 non-null  int64
 8   Ntop                  16590 non-null  float64
 9   N_recourant_au_poste  16590 non-null  float64
 10  montant_moy           16590 non-null  float64
 11  Niveau prioritaire    16800 non-null  category
 12  tri                   16380 non-null  float32
 13  type_somme            16800 non-null  category
dtypes: category(7), float32(1), float64(3), int64(1), object(1), uint16(1)
memory usage: 875.6+ KB

enlevons les colonnes : 
<ul>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>
</ul>

In [6]:
depenses.drop(columns=['tri','Niveau prioritaire'],inplace=True)

renommage des colonnes : 
<ul>
  <li>Ntop en nombre de patients traités pour la patho selectionnée</li>
  <li>N_recourant_au_poste en nombre de patient traités pour une autre patho mais necessitant des soins du postes</li>
</ul>

In [7]:
depenses.rename(columns={'Ntop':'nb_traités_pathologie_OK','N_recourant_au_poste':'nb_traités_autre_patho'},inplace=True)

In [8]:
print("Dans le Dataset depenses, il y a",len(depenses['top'].unique()),"pathologies différentes")

Dans le Dataset depenses, il y a 80 pathologies différentes

Le dataset "depenses" final:

In [9]:
depenses = depenses.groupby(by=['annee','top'],observed=True).agg(montant_moy=('montant_moy','sum')
,nb_traités_pathologie_OK=('nb_traités_pathologie_OK','sum')
,nb_traités_autre_patho=('nb_traités_autre_patho','sum')
,montant=('montant','sum')).reset_index()

In [10]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   annee                     560 non-null    uint16
 1   top                       560 non-null    category
 2   montant_moy               560 non-null    float64
 3   nb_traités_pathologie_OK  560 non-null    float64
 4   nb_traités_autre_patho    560 non-null    float64
 5   montant                   560 non-null    int64
dtypes: category(1), float64(3), int64(1), uint16(1)
memory usage: 21.9 KB

In [11]:
effectifs.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,Niveau prioritaire,libelle_classe_age,libelle_sexe,tri
0,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,75,87,1410.0,12790.0,10.985,1,de 65 à 69 ans,femmes,1.0
1,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,1,971,290.0,4210.0,6.912,"2,3",de 80 à 84 ans,hommes,51.0
2,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,11,1390.0,13280.0,10.447,1,de 65 à 69 ans,femmes,1.0
3,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,3,973,40.0,650.0,5.864,"2,3",de 80 à 84 ans,hommes,51.0
4,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,34,3970.0,36950.0,10.755,1,de 65 à 69 ans,femmes,1.0

In [12]:
effectifs = effectifs[effectifs['cla_age_5']!="tsage"]

In [13]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3864001 entries, 0 to 4057200
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   annee               float64
 1   patho_niv1          object
 2   patho_niv2          object
 3   patho_niv3          object
 4   top                 category
 5   cla_age_5           category
 6   sexe                float64
 7   region              int64
 8   dept                category
 9   Ntop                float64
 10  Npop                float64
 11  prev                float64
 12  Niveau prioritaire  object
 13  libelle_classe_age  object
 14  libelle_sexe        object
 15  tri                 float64
dtypes: category(3), float64(6), int64(1), object(6)
memory usage: 423.8+ MB

enlevons les colonnes : <ul>
  <li>top                : libelle technique de la pathologie : trop précis pour moi</li>
  <li>prev               : prévalence</li>
  <li>Npop               : population de référence</li>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>

</ul>

In [14]:
effectifs.drop(columns=['prev','Npop','tri','Niveau prioritaire','libelle_sexe','libelle_classe_age'],inplace=True)

In [15]:
effectifs[effectifs['Ntop'].isna()]

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop
196,2015.0,Cancers,NaN,NaN,sup_Can_cat,70-74,2.0,6,976,NaN
198,2015.0,Cancers,NaN,NaN,sup_Can_cat,70-74,2.0,6,999,NaN
251,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,85-89,1.0,6,976,NaN
253,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,85-89,1.0,6,999,NaN
337,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,85-89,2.0,6,976,NaN
...,...,...,...,...,...,...,...,...,...,...
4057186,2021.0,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,top_HFoiPan_ind,00-04,9.0,2,999,NaN
4057193,2021.0,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,top_HFoiPan_ind,00-04,9.0,24,18,NaN
4057194,2021.0,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,top_HFoiPan_ind,00-04,9.0,24,41,NaN
4057196,2021.0,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,top_HFoiPan_ind,00-04,9.0,27,39,NaN
4057198,2021.0,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,Maladies du foie ou du pancréas (hors mucovisc...,top_HFoiPan_ind,00-04,9.0,27,89,NaN

Sois il y a pas de patient, sois il y a pas assez de patient pour assurer une bonne anonymisation des données(<11). Je décide de statuer le nombre de patient à 5 par defaut.

In [16]:
effectifs.shape

(3864001, 10)

In [17]:
effectifs['Ntop'] = effectifs['Ntop'].fillna(5)

In [18]:
effectifs.shape

(3864001, 10)

In [19]:
print("Dans le Dataset effectifs, il y a",len(effectifs['top'].unique()),"pathologies différentes")

Dans le Dataset effectifs, il y a 80 pathologies différentes

In [20]:
effectifs[effectifs['sexe'].isna()]

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop
3867153,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,0,00,5.0

In [21]:
effectifs.drop(effectifs[effectifs['sexe'].isna()].index,inplace=True)

In [22]:
effectifs[effectifs['annee'].isna()]

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop
2176282,NaN,Traitements psychotropes (hors pathologies),Traitements hypnotiques (hors pathologies),Traitements hypnotiques (hors pathologies),top_PHypnot_med,75-79,9.0,44,08,780.0

In [23]:
effectifs.drop(effectifs[effectifs['annee'].isna()].index,inplace=True)

In [24]:
#allegons le dataset
effectifs['annee'] = pd.to_numeric(effectifs['annee'],downcast='unsigned')
effectifs['region'] = pd.to_numeric(effectifs['region'],downcast='unsigned')
effectifs['sexe'] = pd.to_numeric(effectifs['sexe'],downcast='unsigned')
effectifs['Ntop'] = pd.to_numeric(effectifs['Ntop'],downcast='unsigned')

In [25]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3863999 entries, 0 to 4057200
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   annee       uint16
 1   patho_niv1  object
 2   patho_niv2  object
 3   patho_niv3  object
 4   top         category
 5   cla_age_5   category
 6   sexe        uint8
 7   region      uint8
 8   dept        category
 9   Ntop        uint32
dtypes: category(3), object(3), uint16(1), uint32(1), uint8(2)
memory usage: 158.5+ MB

In [26]:
effectifs = effectifs[['annee','top','sexe','cla_age_5','Ntop','patho_niv1','patho_niv2','patho_niv3']].groupby(by=['annee','top','sexe','cla_age_5'],observed=True).sum().reset_index()

In [27]:
# mergons les 2 fichiers

In [28]:
file = pd.merge(depenses,effectifs,on=['annee','top'],how='outer')

In [29]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32207 entries, 0 to 32206
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   annee                     32207 non-null  uint16
 1   top                       32207 non-null  object
 2   montant_moy               32207 non-null  float64
 3   nb_traités_pathologie_OK  32207 non-null  float64
 4   nb_traités_autre_patho    32207 non-null  float64
 5   montant                   32207 non-null  int64
 6   sexe                      32200 non-null  float64
 7   cla_age_5                 32200 non-null  category
 8   Ntop                      32200 non-null  float64
 9   patho_niv1                32200 non-null  object
 10  patho_niv2                32200 non-null  object
 11  patho_niv3                32200 non-null  object
dtypes: category(1), float64(5), int64(1), object(4), uint16(1)
memory usage: 2.6+ MB

In [30]:
file.head()

,annee,top,montant_moy,nb_traités_pathologie_OK,nb_traités_autre_patho,montant,sexe,cla_age_5,Ntop,patho_niv1,patho_niv2,patho_niv3
0,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,00-04,540730.0,Traitement antalgique ou anti-inflammatoire (h...,0,0
1,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,05-09,94010.0,Traitement antalgique ou anti-inflammatoire (h...,0,0
2,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,10-14,34720.0,Traitement antalgique ou anti-inflammatoire (h...,0,0
3,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,15-19,27520.0,Traitement antalgique ou anti-inflammatoire (h...,0,0
4,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,20-24,23305.0,Traitement antalgique ou anti-inflammatoire (h...,0,0

In [31]:
# Je vais faire un pourcentage de la population avec une somme de Ntop
file_group_ntop = file.groupby(by=['annee','top'],observed=False).agg(Ntop=('Ntop','sum')).reset_index().rename(columns={'Ntop':'Ntop_total'})

file = pd.merge(file,file_group_ntop,on=['annee','top'],how='inner')

In [32]:
file['pourcentage acte selon la classe d\'age'] = file['Ntop']/file['Ntop_total']*100

In [33]:
depenses['montant'].sum()

9287958298213

In [34]:
(file['montant']* file['pourcentage acte selon la classe d\'age']/100).sum()

9154671985631.0

In [35]:
file.groupby(by=["annee","top"],observed=True).agg(montant=('montant','first')).reset_index().montant.sum()

9287958298213

In [36]:
# j'ai le pourcentage par acte en fonction des classes d'age , je peut donc modifié le dataset en conséquence
file["nb_traités_pathologie_OK_class_age"] = file['nb_traités_pathologie_OK'] * file['pourcentage acte selon la classe d\'age'] /100
file["nb_traités_autre_patho_class_age"] = file["nb_traités_autre_patho"] * file['pourcentage acte selon la classe d\'age']/100

In [37]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32207 entries, 0 to 32206
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   annee                                   32207 non-null  uint16
 1   top                                     32207 non-null  object
 2   montant_moy                             32207 non-null  float64
 3   nb_traités_pathologie_OK                32207 non-null  float64
 4   nb_traités_autre_patho                  32207 non-null  float64
 5   montant                                 32207 non-null  int64
 6   sexe                                    32200 non-null  float64
 7   cla_age_5                               32200 non-null  category
 8   Ntop                                    32200 non-null  float64
 9   patho_niv1                              32200 non-null  object
 10  patho_niv2                              32200 non-null  object
 11  patho_niv3                              32200 non-null  object
 12  Ntop_total                              32207 non-null  float64
 13  pourcentage acte selon la classe d'age  32200 non-null  float64
 14  nb_traités_pathologie_OK_class_age      32200 non-null  float64
 15  nb_traités_autre_patho_class_age        32200 non-null  float64
dtypes: category(1), float64(9), int64(1), object(4), uint16(1)
memory usage: 3.5+ MB

In [38]:
#montant par classe d'age 
file['montant par classe d\'age'] = file['montant_moy']*file['nb_traités_pathologie_OK_class_age']

In [39]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32207 entries, 0 to 32206
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   annee                                   32207 non-null  uint16
 1   top                                     32207 non-null  object
 2   montant_moy                             32207 non-null  float64
 3   nb_traités_pathologie_OK                32207 non-null  float64
 4   nb_traités_autre_patho                  32207 non-null  float64
 5   montant                                 32207 non-null  int64
 6   sexe                                    32200 non-null  float64
 7   cla_age_5                               32200 non-null  category
 8   Ntop                                    32200 non-null  float64
 9   patho_niv1                              32200 non-null  object
 10  patho_niv2                              32200 non-null  object
 11  patho_niv3                              32200 non-null  object
 12  Ntop_total                              32207 non-null  float64
 13  pourcentage acte selon la classe d'age  32200 non-null  float64
 14  nb_traités_pathologie_OK_class_age      32200 non-null  float64
 15  nb_traités_autre_patho_class_age        32200 non-null  float64
 16  montant par classe d'age                32200 non-null  float64
dtypes: category(1), float64(10), int64(1), object(4), uint16(1)
memory usage: 3.8+ MB

In [40]:
file[file['cla_age_5'].isna()]

,annee,top,montant_moy,nb_traités_pathologie_OK,nb_traités_autre_patho,montant,sexe,cla_age_5,Ntop,patho_niv1,patho_niv2,patho_niv3,Ntop_total,pourcentage acte selon la classe d'age,nb_traités_pathologie_OK_class_age,nb_traités_autre_patho_class_age,montant par classe d'age
4600,2015,top_SoiCour,0.0,0.0,0.0,17006832461,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
9201,2016,top_SoiCour,0.0,0.0,0.0,17231955694,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
13802,2017,top_SoiCour,0.0,0.0,0.0,17639049772,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
18403,2018,top_SoiCour,0.0,0.0,0.0,18082847264,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
23004,2019,top_SoiCour,0.0,0.0,0.0,18732658255,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
27605,2020,top_SoiCour,0.0,0.0,0.0,20140494657,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
32206,2021,top_SoiCour,0.0,0.0,0.0,24452474479,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [41]:
test_pourcent = file.groupby(by=['annee','top'],observed=False).agg(pourcent=('pourcentage acte selon la classe d\'age','sum')).reset_index()
test_pourcent[test_pourcent['pourcent']!=100]

     annee          top  pourcent
79    2015  top_SoiCour       0.0
159   2016  top_SoiCour       0.0
239   2017  top_SoiCour       0.0
319   2018  top_SoiCour       0.0
399   2019  top_SoiCour       0.0
479   2020  top_SoiCour       0.0
559   2021  top_SoiCour       0.0

In [42]:
file.groupby(by=['annee','top'],observed=False).agg(nb_patient = ('nb_traités_pathologie_OK','mean'),verif=('nb_traités_pathologie_OK_class_age','sum')).reset_index()

     annee               top  nb_patient       verif
0     2015   sup_Arthros_med  38580600.0  38580600.0
1     2015   sup_CanAutr_cat  47710200.0  47710200.0
2     2015   sup_CanColo_cat  10186800.0  10186800.0
3     2015   sup_CanPoum_cat   3891000.0   3891000.0
4     2015   sup_CanPros_cat  15143100.0  15143100.0
..     ...               ...         ...         ...
555   2021   top_Psychos_ind  14641800.0  14641800.0
556   2021  top_RDialyse_ind   1706400.0   1706400.0
557   2021    top_Rtrans_aig     92100.0     92100.0
558   2021    top_Rtrans_chr   1230900.0   1230900.0
559   2021       top_SoiCour         0.0         0.0

[560 rows x 4 columns]

In [43]:
# enlever les premiers dataframe et importer donnée insee
del depenses,effectifs

pop =pd.read_csv('donnee/pop.csv',sep=';',dtype={'ANNEE':"uint16"
,"SEXE":"category"
,"AGE":"uint8"
,"POP":"int64"})

In [44]:
pop.head()

   ANNEE SEXE  AGE     POP
0   1991    M    0  399548
1   1991    M    1  395294
2   1991    M    2  401225
3   1991    M    3  399805
4   1991    M    4  407266

In [45]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ANNEE   6800 non-null   uint16
 1   SEXE    6800 non-null   category
 2   AGE     6800 non-null   uint8
 3   POP     6800 non-null   int64
dtypes: category(1), int64(1), uint16(1), uint8(1)
memory usage: 79.9 KB

In [46]:
# on enleve le sexe et on regoupe
pop  = pop.groupby(by=['ANNEE','AGE']).agg(pop=("POP","sum")).reset_index().rename(columns={"ANNEE":"annee","AGE":"age"})

In [47]:
# on fait des category sur 5 ans

#création des intervalles
intervalle = [-1]
for a in range(1,21):
    intervalle.append(a*5-1)

# creation des labels pour les intervalle
label_intervalle = list(file['cla_age_5'].unique())
label_intervalle = [x for x in label_intervalle if pd.isnull(x) == False]
# Enregistrer les categories d'age dans une colonne
pop["cla_age_5"] = pd.cut(pop['age'],bins = intervalle, labels = label_intervalle)

# on regroupe par rapport aux categorie classe d age
pop = pop.groupby(by=["annee","cla_age_5"],observed=True).agg(pop=('pop','sum')).reset_index()

In [48]:
file['annee'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=uint16)

In [49]:
pop['annee'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024], dtype=uint16)

In [50]:
pop = pop[pop['annee'].isin(file['annee'].unique())]

In [51]:
file = pd.merge(file,pop,on=['annee',"cla_age_5"],how='outer')

In [52]:
file.to_csv('donnee_temp/depense_age.csv',index=False)

In [53]:
file[:10]

,annee,top,montant_moy,nb_traités_pathologie_OK,nb_traités_autre_patho,montant,sexe,cla_age_5,Ntop,patho_niv1,patho_niv2,patho_niv3,Ntop_total,pourcentage acte selon la classe d'age,nb_traités_pathologie_OK_class_age,nb_traités_autre_patho_class_age,montant par classe d'age,pop
0,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,1.0,00-04,540730.0,Traitement antalgique ou anti-inflammatoire (h...,0,0,7685670.0,7.035561,2.714362e+06,7.315274e+05,8.121370e+09,3992084.0
1,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,2.0,00-04,515470.0,Traitement antalgique ou anti-inflammatoire (h...,0,0,7685670.0,6.706897,2.587561e+06,6.973544e+05,7.741983e+09,3992084.0
2,2015,sup_Arthros_med,2992.0,38580600.0,10397570.0,3848651856,9.0,00-04,1056120.0,Traitement antalgique ou anti-inflammatoire (h...,0,0,7685670.0,13.741417,5.301521e+06,1.428774e+06,1.586215e+10,3992084.0
3,2015,sup_CanAutr_cat,15354.0,47710200.0,17053820.0,24419014580,1.0,00-04,4115.0,CancersCancersCancersCancersCancersCancersCanc...,Autres cancersAutres cancersAutres cancersAutr...,0,9456590.0,0.043515,2.076092e+04,7.420906e+03,3.187631e+08,3992084.0
4,2015,sup_CanAutr_cat,15354.0,47710200.0,17053820.0,24419014580,2.0,00-04,3290.0,CancersCancersCancersCancersCancersCancersCanc...,Autres cancersAutres cancersAutres cancersAutr...,0,9456590.0,0.034791,1.659864e+04,5.933118e+03,2.548556e+08,3992084.0
5,2015,sup_CanAutr_cat,15354.0,47710200.0,17053820.0,24419014580,9.0,00-04,7290.0,CancersCancersCancersCancersCancersCancersCanc...,Autres cancersAutres cancersAutres cancersAutr...,0,9456590.0,0.077089,3.677936e+04,1.314664e+04,5.647103e+08,3992084.0
6,2015,sup_CanColo_cat,14308.0,10186800.0,3657270.0,4858450257,1.0,00-04,600.0,CancersCancersCancersCancersCancersCancersCanc...,Cancer colorectalCancer colorectalCancer color...,0,2027245.0,0.029597,3.014969e+03,1.082436e+03,4.313817e+07,3992084.0
7,2015,sup_CanColo_cat,14308.0,10186800.0,3657270.0,4858450257,2.0,00-04,600.0,CancersCancersCancersCancersCancersCancersCanc...,Cancer colorectalCancer colorectalCancer color...,0,2027245.0,0.029597,3.014969e+03,1.082436e+03,4.313817e+07,3992084.0
8,2015,sup_CanColo_cat,14308.0,10186800.0,3657270.0,4858450257,9.0,00-04,600.0,CancersCancersCancersCancersCancersCancersCanc...,Cancer colorectalCancer colorectalCancer color...,0,2027245.0,0.029597,3.014969e+03,1.082436e+03,4.313817e+07,3992084.0
9,2015,sup_CanPoum_cat,33833.0,3891000.0,1532210.0,4388029226,1.0,00-04,600.0,CancersCancersCancersCancersCancersCancersCanc...,Cancer du poumonCancer du poumonCancer du poum...,0,784600.0,0.076472,2.975529e+03,1.171713e+03,1.006711e+08,3992084.0

In [54]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32207 entries, 0 to 32206
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   annee                                   32207 non-null  uint16
 1   top                                     32207 non-null  object
 2   montant_moy                             32207 non-null  float64
 3   nb_traités_pathologie_OK                32207 non-null  float64
 4   nb_traités_autre_patho                  32207 non-null  float64
 5   montant                                 32207 non-null  int64
 6   sexe                                    32200 non-null  float64
 7   cla_age_5                               32200 non-null  object
 8   Ntop                                    32200 non-null  float64
 9   patho_niv1                              32200 non-null  object
 10  patho_niv2                              32200 non-null  object
 11  patho_niv3                              32200 non-null  object
 12  Ntop_total                              32207 non-null  float64
 13  pourcentage acte selon la classe d'age  32200 non-null  float64
 14  nb_traités_pathologie_OK_class_age      32200 non-null  float64
 15  nb_traités_autre_patho_class_age        32200 non-null  float64
 16  montant par classe d'age                32200 non-null  float64
 17  pop                                     32200 non-null  float64
dtypes: float64(11), int64(1), object(5), uint16(1)
memory usage: 4.2+ MB