# Donnée Ameli

Télécharger les données de Amelie avec curl: Lancer la commande bash sh tel_donnee.sh

In [1]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [2]:
#choper la population francaise de 2015 a 2021

In [3]:
#import des fichiers
depenses = pd.read_csv('donnee/depenses.csv',sep=';',dtype={
    'annee':'uint16'
    ,"patho_niv1":"category"
    ,"patho_niv2":"category"
    ,"patho_niv2":"category"
    ,"top":"category"
    ,"dep_niv_1":"category"
    ,"dep_niv_2":"category"
    ,"montant":"uint64"
    ,"N_recourant_au_poste":"float64"
    ,"Ntop":"float64"
    ,"montant_moy":"float64"
    ,"type_somme":"category"
    ,"Niveau prioritaire":"category"
    ,'tri':'float32'})

effectifs = pd.read_csv('donnee/effectifs.csv',sep=';',dtype={
    'top':"category"
    ,'cla_age_5':"category"
    ,'dept':"category"
})

 0   annee                                                                                    16800 non-null  uint16  
 1   patho_niv1                                                                               16800 non-null  category
 2   patho_niv2                                                                               14280 non-null  category
 3   patho_niv3                                                                               12180 non-null  category
 4   top                                                                                      16800 non-null  category
 5   dep_niv_1                                                                                16800 non-null  category
 6   dep_niv_2                                                                                16800 non-null  category
 7   montant                                                                                  16800 non-null  uint64  
 8   nombre de patients traités pour la pathologie selectionnée                               16590 non-null  float64 
 9   nombre de patient traités pour une autre pathologie mais necessitant des soins du poste  16590 non-null  float64 
 10  montant_moy                                                                              16590 non-null  float64 
 11  type_somme                                                                               16800 non-null  category

In [4]:
depenses.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,dep_niv_1,dep_niv_2,montant,Ntop,N_recourant_au_poste,montant_moy,Niveau prioritaire,tri,type_somme
0,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,"1,2,3",16.0,Partiel
1,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations en HAD secteur privé remboursées,31752008,1761940.0,8040.0,18.0,"1,2,3",16.0,Partiel
2,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Hospitalisations séjour MCO secteur public rem...,107979401,1761940.0,447710.0,61.0,"1,2,3",16.0,Partiel
3,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Indemnités journalières maladie et AT/MP rembo...,119648361,1761940.0,128800.0,68.0,"1,2,3",16.0,Partiel
4,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Prestations en espèces,Prestations d'invalidité remboursées,276259335,1761940.0,71330.0,157.0,"1,2,3",16.0,Partiel

In [5]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   annee                 16800 non-null  uint16
 1   patho_niv1            16800 non-null  category
 2   patho_niv2            14280 non-null  category
 3   patho_niv3            12180 non-null  object
 4   top                   16800 non-null  category
 5   dep_niv_1             16800 non-null  category
 6   dep_niv_2             16800 non-null  category
 7   montant               16800 non-null  uint64
 8   Ntop                  16590 non-null  float64
 9   N_recourant_au_poste  16590 non-null  float64
 10  montant_moy           16590 non-null  float64
 11  Niveau prioritaire    16800 non-null  category
 12  tri                   16380 non-null  float32
 13  type_somme            16800 non-null  category
dtypes: category(7), float32(1), float64(3), object(1), uint16(1), uint64(1)
memory usage: 875.6+ KB

enlevons les colonnes : 
<ul>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>
</ul>

In [6]:
depenses.drop(columns=['tri','Niveau prioritaire'],inplace=True)

renommage des colonnes : 
<ul>
  <li>Ntop en nombre de patients traités pour la patho selectionnée</li>
  <li>N_recourant_au_poste en nombre de patient traités pour une autre patho mais necessitant des soins du postes</li>
</ul>

In [7]:
depenses.rename(columns={'Ntop':'nb_traités_pathologie_OK','N_recourant_au_poste':'nb_traités_autre_patho'},inplace=True)

In [8]:
print("Dans le Dataset depenses, il y a",len(depenses['top'].unique()),"pathologies différentes")

Dans le Dataset depenses, il y a 80 pathologies différentes

Le dataset "depenses" final:

In [9]:
depenses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16800 entries, 0 to 16799
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   annee                     16800 non-null  uint16
 1   patho_niv1                16800 non-null  category
 2   patho_niv2                14280 non-null  category
 3   patho_niv3                12180 non-null  object
 4   top                       16800 non-null  category
 5   dep_niv_1                 16800 non-null  category
 6   dep_niv_2                 16800 non-null  category
 7   montant                   16800 non-null  uint64
 8   nb_traités_pathologie_OK  16590 non-null  float64
 9   nb_traités_autre_patho    16590 non-null  float64
 10  montant_moy               16590 non-null  float64
 11  type_somme                16800 non-null  category
dtypes: category(6), float64(3), object(1), uint16(1), uint64(1)
memory usage: 793.4+ KB

In [10]:
effectifs.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,Ntop,Npop,prev,Niveau prioritaire,libelle_classe_age,libelle_sexe,tri
0,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,75,87,1410.0,12790.0,10.985,1,de 65 à 69 ans,femmes,1.0
1,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,1,971,290.0,4210.0,6.912,"2,3",de 80 à 84 ans,hommes,51.0
2,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,11,1390.0,13280.0,10.447,1,de 65 à 69 ans,femmes,1.0
3,2020.0,Traitements du risque vasculaire (hors patholo...,Traitements hypolipémiants (hors pathologies),Traitements hypolipémiants (hors pathologies),top_FHypoLi_med,80-84,1.0,3,973,40.0,650.0,5.864,"2,3",de 80 à 84 ans,hommes,51.0
4,2015.0,Cancers,NaN,NaN,sup_Can_cat,65-69,2.0,76,34,3970.0,36950.0,10.755,1,de 65 à 69 ans,femmes,1.0

In [11]:
effectifs = effectifs[effectifs['cla_age_5']!="tsage"]

In [12]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3864001 entries, 0 to 4057200
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   annee               float64
 1   patho_niv1          object
 2   patho_niv2          object
 3   patho_niv3          object
 4   top                 category
 5   cla_age_5           category
 6   sexe                float64
 7   region              int64
 8   dept                category
 9   Ntop                float64
 10  Npop                float64
 11  prev                float64
 12  Niveau prioritaire  object
 13  libelle_classe_age  object
 14  libelle_sexe        object
 15  tri                 float64
dtypes: category(3), float64(6), int64(1), object(6)
memory usage: 423.8+ MB

enlevons les colonnes : <ul>
  <li>top                : libelle technique de la pathologie : trop précis pour moi</li>
  <li>prev               : prévalence</li>
  <li>Npop               : population de référence</li>
  <li>tri                : aucune information</li>
  <li>Niveau prioritaire : aucune information</li>
  <li>patho_niv1         : description de la pathologie</li>
  <li>patho_niv2         : description de la pathologie</li>
  <li>patho_niv3         : description de la pathologie</li>
</ul>

In [13]:
effectifs.drop(columns=['prev','Npop','tri','Niveau prioritaire','patho_niv1','patho_niv2','patho_niv3','libelle_sexe','libelle_classe_age'],inplace=True)

In [14]:
effectifs[effectifs['Ntop'].isna()]

          annee              top cla_age_5  sexe  region dept  Ntop
196      2015.0      sup_Can_cat     70-74   2.0       6  976   NaN
198      2015.0      sup_Can_cat     70-74   2.0       6  999   NaN
251      2020.0  top_FHypoLi_med     85-89   1.0       6  976   NaN
253      2020.0  top_FHypoLi_med     85-89   1.0       6  999   NaN
337      2020.0  top_FHypoLi_med     85-89   2.0       6  976   NaN
...         ...              ...       ...   ...     ...  ...   ...
4057186  2021.0  top_HFoiPan_ind     00-04   9.0       2  999   NaN
4057193  2021.0  top_HFoiPan_ind     00-04   9.0      24   18   NaN
4057194  2021.0  top_HFoiPan_ind     00-04   9.0      24   41   NaN
4057196  2021.0  top_HFoiPan_ind     00-04   9.0      27   39   NaN
4057198  2021.0  top_HFoiPan_ind     00-04   9.0      27   89   NaN

[1087887 rows x 7 columns]

Sois il y a pas de patient, sois il y a pas assez de patient pour assurer une bonne anonymisation des données(<11). Je décide de sortir les données.

In [15]:
effectifs.shape

(3864001, 7)

In [16]:
effectifs = effectifs.dropna()

In [17]:
effectifs.shape

(2776113, 7)

In [18]:
print("Dans le Dataset effectifs, il y a",len(effectifs['top'].unique()),"pathologies différentes")

Dans le Dataset effectifs, il y a 79 pathologies différentes

In [19]:
effectifs[effectifs['sexe'].isna()]

Empty DataFrame
Columns: [annee, top, cla_age_5, sexe, region, dept, Ntop]
Index: []

In [20]:
effectifs.drop(effectifs[effectifs['sexe'].isna()].index,inplace=True)

In [21]:
effectifs[effectifs['annee'].isna()]

Empty DataFrame
Columns: [annee, top, cla_age_5, sexe, region, dept, Ntop]
Index: []

In [22]:
effectifs.drop(effectifs[effectifs['annee'].isna()].index,inplace=True)

In [23]:
#allegons le dataset
effectifs['annee'] = pd.to_numeric(effectifs['annee'],downcast='unsigned')
effectifs['region'] = pd.to_numeric(effectifs['region'],downcast='unsigned')
effectifs['sexe'] = pd.to_numeric(effectifs['sexe'],downcast='unsigned')
effectifs['Ntop'] = pd.to_numeric(effectifs['Ntop'],downcast='unsigned')

In [24]:
effectifs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2776113 entries, 0 to 4057200
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   annee      uint16
 1   top        category
 2   cla_age_5  category
 3   sexe       uint8
 4   region     uint8
 5   dept       category
 6   Ntop       uint32
dtypes: category(3), uint16(1), uint32(1), uint8(2)
memory usage: 50.3 MB

In [25]:
effectifs = effectifs[['annee','top','sexe','cla_age_5','Ntop']].groupby(by=['annee','top','sexe','cla_age_5'],observed=True).sum().reset_index()

In [26]:
# mergons les 2 fichiers

In [27]:
file = pd.merge(depenses,effectifs,on=['annee','top'],how='inner')

In [28]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922350 entries, 0 to 922349
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   annee                     922350 non-null  uint16
 1   patho_niv1                922350 non-null  category
 2   patho_niv2                783750 non-null  category
 3   patho_niv3                669780 non-null  object
 4   top                       922350 non-null  object
 5   dep_niv_1                 922350 non-null  category
 6   dep_niv_2                 922350 non-null  category
 7   montant                   922350 non-null  uint64
 8   nb_traités_pathologie_OK  922350 non-null  float64
 9   nb_traités_autre_patho    922350 non-null  float64
 10  montant_moy               922350 non-null  float64
 11  type_somme                922350 non-null  category
 12  sexe                      922350 non-null  uint8
 13  cla_age_5                 922350 non-null  category
 14  Ntop                      922350 non-null  uint32
dtypes: category(6), float64(3), object(2), uint16(1), uint32(1), uint64(1), uint8(1)
memory usage: 53.7+ MB

In [29]:
file.head()

,annee,patho_niv1,patho_niv2,patho_niv3,top,dep_niv_1,dep_niv_2,montant,nb_traités_pathologie_OK,nb_traités_autre_patho,montant_moy,type_somme,sexe,cla_age_5,Ntop
0,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,Partiel,1,00-04,64600
1,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,Partiel,1,05-09,76370
2,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,Partiel,1,10-14,80080
3,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,Partiel,1,15-19,83130
4,2020,Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),Autres affections de longue durée (dont 31 et 32),top_ALDAutr_ind,Hospitalisations (tous secteurs),Actes et consultations externes MCO secteur pu...,121732063,1761940.0,961960.0,69.0,Partiel,1,20-24,62360

In [30]:
# Je vais faire un pourcentage de la population avec une somme de Ntop
file_group_ntop = file.groupby(by=['annee','top'],observed=False).agg(Ntop=('Ntop','sum')).reset_index().rename(columns={'Ntop':'Ntop_total'})

file = pd.merge(file,file_group_ntop,on=['annee','top'],how='inner')

In [31]:
file['pourcentage acte selon la classe d\'age'] = file['Ntop']/file['Ntop_total']*100

In [32]:
# j'ai le pourcentage par acte en fonction des classes d'age , je peut donc modifié le dataset en conséquence
file["nb_traités_pathologie_OK_class_age"] = file['nb_traités_pathologie_OK'] * file['pourcentage acte selon la classe d\'age'] /100
file["nb_traités_autre_patho_class_age"] = file["nb_traités_autre_patho"] * file['pourcentage acte selon la classe d\'age']/100

In [33]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922350 entries, 0 to 922349
Data columns (total 19 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   annee                                   922350 non-null  uint16
 1   patho_niv1                              922350 non-null  category
 2   patho_niv2                              783750 non-null  category
 3   patho_niv3                              669780 non-null  object
 4   top                                     922350 non-null  object
 5   dep_niv_1                               922350 non-null  category
 6   dep_niv_2                               922350 non-null  category
 7   montant                                 922350 non-null  uint64
 8   nb_traités_pathologie_OK                922350 non-null  float64
 9   nb_traités_autre_patho                  922350 non-null  float64
 10  montant_moy                             922350 non-null  float64
 11  type_somme                              922350 non-null  category
 12  sexe                                    922350 non-null  uint8
 13  cla_age_5                               922350 non-null  category
 14  Ntop                                    922350 non-null  uint32
 15  Ntop_total                              922350 non-null  uint64
 16  pourcentage acte selon la classe d'age  922350 non-null  float64
 17  nb_traités_pathologie_OK_class_age      922350 non-null  float64
 18  nb_traités_autre_patho_class_age        922350 non-null  float64
dtypes: category(6), float64(6), object(2), uint16(1), uint32(1), uint64(2), uint8(1)
memory usage: 81.8+ MB

In [34]:
file['nb_traités_pathologie_OK_class_age'] = file['nb_traités_pathologie_OK_class_age'].astype('int')
file['nb_traités_pathologie_OK_class_age'] = pd.to_numeric(file['nb_traités_pathologie_OK_class_age'],downcast='unsigned')
file["nb_traités_autre_patho_class_age"] = file["nb_traités_autre_patho_class_age"].astype('int')
file["nb_traités_autre_patho_class_age"] = pd.to_numeric(file["nb_traités_autre_patho_class_age"],downcast='unsigned')

In [35]:
#montant par classe d'age 
file['montant par classe d\'age'] = file['montant_moy']*file['nb_traités_pathologie_OK_class_age']

In [36]:
file['montant par classe d\'age'] = file['montant par classe d\'age'].astype('int')
file['montant par classe d\'age'] = pd.to_numeric(file['montant par classe d\'age'],downcast='unsigned')

In [37]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922350 entries, 0 to 922349
Data columns (total 20 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   annee                                   922350 non-null  uint16
 1   patho_niv1                              922350 non-null  category
 2   patho_niv2                              783750 non-null  category
 3   patho_niv3                              669780 non-null  object
 4   top                                     922350 non-null  object
 5   dep_niv_1                               922350 non-null  category
 6   dep_niv_2                               922350 non-null  category
 7   montant                                 922350 non-null  uint64
 8   nb_traités_pathologie_OK                922350 non-null  float64
 9   nb_traités_autre_patho                  922350 non-null  float64
 10  montant_moy                             922350 non-null  float64
 11  type_somme                              922350 non-null  category
 12  sexe                                    922350 non-null  uint8
 13  cla_age_5                               922350 non-null  category
 14  Ntop                                    922350 non-null  uint32
 15  Ntop_total                              922350 non-null  uint64
 16  pourcentage acte selon la classe d'age  922350 non-null  float64
 17  nb_traités_pathologie_OK_class_age      922350 non-null  uint32
 18  nb_traités_autre_patho_class_age        922350 non-null  uint32
 19  montant par classe d'age                922350 non-null  uint32
dtypes: category(6), float64(4), object(2), uint16(1), uint32(4), uint64(2), uint8(1)
memory usage: 78.3+ MB

In [38]:
test_pourcent = file.groupby(by=['annee','top'],observed=False).agg(pourcent=('pourcentage acte selon la classe d\'age','sum')).reset_index()
test_pourcent[test_pourcent['pourcent']!=100]

Empty DataFrame
Columns: [annee, top, pourcent]
Index: []

In [39]:
file.groupby(by=['annee','top'],observed=False).agg(nb_patient = ('nb_traités_pathologie_OK','mean'),verif=('nb_traités_pathologie_OK_class_age','sum')).reset_index()

     annee               top  nb_patient    verif
0     2015   sup_Arthros_med   1286020.0  1284990
1     2015   sup_CanAutr_cat   1590340.0  1589400
2     2015   sup_CanColo_cat    339560.0   338820
3     2015   sup_CanPoum_cat    129700.0   129030
4     2015   sup_CanPros_cat    504770.0   504360
..     ...               ...         ...      ...
543   2021   top_PsyAutr_ind    390740.0   389820
544   2021   top_Psychos_ind    488060.0   487140
545   2021  top_RDialyse_ind     56880.0    55980
546   2021    top_Rtrans_aig      3070.0     2430
547   2021    top_Rtrans_chr     41030.0    40320

[548 rows x 4 columns]

In [40]:
file.to_csv('donnee_temp/depense_age.csv',index=False)